{
        "parser": "@babel/eslint-parser",
        "env": {
                "es6": true,
                "browser": true,
                "node": true
        },
        "rules": {

        },
        "extends": ["eslint:recommended", "google"]
}
